/* Estilo CONTACTO */

#cuerpoContacto{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 85vh 100px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background: linear-gradient(151deg, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 100%);
    justify-content:space-evenly;
}

#mainContacto{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column; 
    
}

.mainContacto__articulo1{
    display: flex;
    align-items: center;
    flex-direction: column; 

}

.mainContacto-articulo1__texto{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color:white;
    margin: 50px;
    text-shadow: 4px 2px 9px black;
}

.mainContacto__articulo1{
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.mainContacto-articulo2{
    display: flex;
    align-items:flex-start;
    flex-direction: column; 
    justify-content:space-around;
}

.mainContacto-articulo2-formulario__linea1,
.mainContacto-articulo2-formulario__linea2,
.mainContacto-articulo2-formulario__linea3,
.mainContacto-articulo2-formulario__linea4,
.mainContacto-articulo2-formulario__linea5{
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: row; 
    margin: 10px; 
    gap: 10px
}

.mainContacto-articulo2-formulario-linea1__etiqueta1,
.mainContacto-articulo2-formulario-linea2__etiqueta2,
.mainContacto-articulo2-formulario-linea3__etiqueta3,
.mainContacto-articulo2-formulario-linea4__etiqueta4,
.mainContacto-articulo2-formulario-linea5__etiqueta5{
    width: 250px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color:white;
    text-shadow: 4px 2px 9px black;
}

.mainContacto-articulo2-formulario-linea1__input1,
.mainContacto-articulo2-formulario-linea2__input2,
.mainContacto-articulo2-formulario-linea3__input3,
.mainContacto-articulo2-formulario-linea4__input4,
.mainContacto-articulo2-formulario-linea5__input5{
    width: 70%;
    height: 50px;
}