/*Estilo INDEX*/


#cuerpoIndex{
    background: linear-gradient(151deg, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 100%);    
}

#mainIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    /*grid-template-rows: 20% repeat(2,1fr);*/
    grid-template-areas: 
    "articuloIndex1"
    "articuloIndex2"
    "articuloIndex3";
    gap: 20px
}

.mainIndex__articuloIndex1{
    grid-area: articuloIndex1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainIndex__articuloIndex2{
    grid-area: articuloIndex2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainIndex__articuloIndex3{
    grid-area: articuloIndex3;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.mainIndex-articuloIndex1__textoBienvenida{
    font-size: 90px;
    width: auto;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-shadow: 4px 2px 9px black;

}

.mainIndex-articuloIndex2__imagenPortada{
    width: auto;
    height: 60vh;
    border-radius: 75%;
    border: 2px solid transparent;
}

.mainIndex-articuloIndex2__textoPortada{
    font-size: 90px;
    font-family: 'Vina Sans', sans-serif;
    color:white;
    background-color: transparent;
    text-decoration:none;
    border: 2px solid transparent;
    text-shadow: 4px 2px 9px black;
    
}

.mainIndex-articuloIndex3__textoPedidosYa{
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color:white;
    text-shadow: 4px 2px 9px black;
}

.mainIndex-articuloIndex3__imagenPedidosYa{
    width: 300px;
    height: auto;
}

