/* Estilo Nosotros */

#cuerpoNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background: linear-gradient(151deg, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 100%);
    justify-content:space-evenly;
    min-height: 100vh;
}

#mainNosotros{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column; 
    
}

.mainNosotros__articulo2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainNosotros__articulo1{
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white;
}

.mainNosotros-articulo1__texto1{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color:white;
    text-shadow: 4px 2px 9px black;
    margin-top: 50px;
}

.mainNosotros-articulo1__texto2{
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    color:white;
    margin-top: 50px;
    text-shadow: 4px 2px 9px black;
    align-items: center;
    justify-content: center;
}

.mainNosotros-articulo2__CV1,
.mainNosotros-articulo2__CV2,
.mainNosotros-articulo2__CV3{
    display: flex;
    align-items: center;
    flex-direction: row; 
}

.mainNosotros-articulo2-CV1__imagen,
.mainNosotros-articulo2-CV2__imagen,
.mainNosotros-articulo2-CV3__imagen{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    padding: 10px; 
}

.mainNosotros-articulo2-CV1__texto,
.mainNosotros-articulo2-CV2__texto,
.mainNosotros-articulo2-CV3__texto{
    font-size: 35px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    color:white;
    text-shadow: 4px 2px 9px black;
}

.mainHamburguesas-pruducto1-divTexto__texto2,
.mainHamburguesas-pruducto2-divTexto__texto2,
.mainHamburguesas-pruducto3-divTexto__texto2,
.mainHamburguesas-pruducto4-divTexto__texto2{
    font-size: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color:white;
    padding: 25px;
    text-shadow: 4px 2px 9px black;
}
