/* PSEUDOCLASES */


.mainIndex-articuloIndex2__textoPortada:hover
{
    transform: scale(1.2,1.2);
    transition: 1s;
    box-shadow: 2px -1px 94px 17px white;
    -webkit-box-shadow: 2px -1px 94px 17px white;
    -moz-box-shadow: 2px -1px 94px 17px white;
}

.mainIndex-articuloIndex3__imagenPedidosYa:hover
{
    transform: scale(1.1,1.1);
    transition: 1s;
    box-shadow: 2px -1px 94px 17px white;
    -webkit-box-shadow: 2px -1px 94px 17px white;
    -moz-box-shadow: 2px -1px 94px 17px white;
}

.nav-link:hover{
    font-weight: bold !important;
}

.header__logo:hover{
    transform: scale(1.05,1.05);
    transition: 1s;
    box-shadow: 2px -1px 94px 17px white;
    -webkit-box-shadow: 2px -1px 94px 17px white;
    -moz-box-shadow: 2px -1px 94px 17px white;
}


