/* PSEUDOCLASES */




.mainIndex-articuloIndex3__imagenPedidosYa:hover
{
    width: 175px;
    height: auto;
    box-shadow: 2px -1px 94px 17px white;
    -webkit-box-shadow: 2px -1px 94px 17px white;
    -moz-box-shadow: 2px -1px 94px 17px white;
}

.nav-link:hover{
    font-weight: bold !important;
}

